@charset "utf-8";
@import "./variable.scss";


@mixin font_color($color){/*通过该函数设置字体颜色，后期方便统一管理；*/
  color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme1;
  }
  [data-theme="theme2"] & {
    color:$font-color-theme2;
  }
}
