
/*reset*/
*,::after,::before{box-sizing:border-box}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.5 Microsoft Yahei,tahoma,arial,'Hiragino Sans GB',sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
ol,ul{list-style:none}
a,a:hover{text-decoration:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;outline:none}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0}
p{word-break:break-all} //p标签字母或者数字自动换行

/*base*/
.d-flex{
    display:flex;
}
.align-items-center{
    align-items: center;
}
.mb8{
    margin-bottom:8px;
}
.mb10{
    margin-bottom:10px;
}
.mr5{
    margin-right:5px;
}
.tr{text-align:right;}
