@import "./scss/variable";
@import "./scss/mixin";
@import './vant-mixin.scss';

* {
	-webkit-user-select: none;
	-ms-touch-select: none;
/*
	-ms-touch-action: none;
*/
}
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
	font-size:16px;
	color: #6c6c6c;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
.flex-row {
	display:flex;
	flex-direction: row;
}
.flex-column {
	display:flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.bold-line {
        width:100vw;
        height:10px;
        background-color:#F4F5F7;
      }
